@def MID_GREEN #2B404A;
@def LIGHT_GRAY #E9EDEF;
@def DARK_GREEN #263841;
@def DARKER_GREEN #2D3B44;

@def LABEL_GREEN #6D777E;
@def ACTIVE_GREEN #C3CF21;

@external button, selected, highlight, header, label;

.topNav {
  background-color: MID_GREEN;
}

.topNav .button {
  background-color: MID_GREEN;
  border-color: DARKER_GREEN;
}

.topNav .button.selected, .topNav .button.selected:hover {
  background-color: LIGHT_GRAY;
}

.topNav .button:hover {
  background-color: DARK_GREEN;
}

.locatorBar {
  background-color: LIGHT_GRAY;
  color: black;
}

.leftNav {
  background-color: DARK_GREEN;
}

.leftNav .button {
  background-color: DARK_GREEN;
  border-color: DARKER_GREEN;
}

.leftNav .button.selected, .leftNav .button.selected:hover {
  background-color: MID_GREEN;
}

.leftNav .button:hover {
  background-color: MID_GREEN;
}

.contentWindow {
  background-color: MID_GREEN;
}

.electricityDisplay, .waterDisplay {
  color: white;
}

@sprite .electricityDisplay {
  gwt-image: 'electricityBackground';
}
@sprite .waterDisplay {
  gwt-image: 'waterBackground';
}

/* MAIN CONSOLE TEXT COLOURS */

.console {
  color: white;
}

.console label, .console .label {
  color: LABEL_GREEN;
}

.console .header, .console h3 {
  color: white;
}

.console .button, .console a {
  color: lightgray;
}

.console .button.selected, .console .button.selected:hover {
  color: ACTIVE_GREEN;
}

.console .highlight {
  color: ACTIVE_GREEN;
}

