a {
  text-decoration: none;
  color: inherit;
}

.gwt-DialogBox {
  color: white;
  background-color: #253942;
  padding: 10px;

  border: 1px solid #375564;

  \-moz-border-radius: 8px;
  \-webkit-border-radius: 8px;
  \-opera-border-radius: 8px;
  \-khtml-border-radius: 8px;
  border-radius: 8px;
}

.gwt-DialogBox .Caption {
   padding: 4px;
   border-bottom: 1px solid #bbbbbb;
}

.gwt-DialogBox .dialogContent {
  margin-top  : 1em;
}

.gwt-DialogBox .dialogContent .gwt-Button {
  margin-top: 1em;
}

.gwt-PopupPanelGlass {
  background-color: #000;
  opacity: 0.3;
  filter: alpha(opacity\=30);
}