.contentPanel {
  margin: 10px 0 0 10px;
}

.contentPanel > h3 {
  padding: 0.5em 0.5em 0.5em 2em;
  font-size: 120%;
  background-image: url("images/common/black30pct.png");
}

.contentPanel > div {
  margin-top: 2px;
  background-image: url("images/common/black30pct.png");
}

.usagePanel > div {
  padding: 0.5em;
}

.usagePanel > div > label {
  display: inline-block;
  width: 40%;
  text-align: right;
  padding-right: .5em;
}

.usagePanel > div > span {
  display: inline-block;
}
