.contentPanel {
  margin: 10px 0 0 10px;
}

.contentPanel > h3 {
  color: #C3CF20;
  line-height: 50px;
  font-size: 150%;
  padding-left: 40px;
  background-image: url("images/common/black50pct.png");
}

.contentPanel > div {
  font-size: 120%;
  margin-top: 1px;
  background-image: url("images/common/black50pct.png");
}

.usagePanel > div {
  line-height: 34px;
}

.usagePanel > div > label {
  color: gray;
  width: 150px;
  text-align: right;
  display: inline-block;
}

.usagePanel > div > span {
  width: 80px;
  text-align: right;
  display: inline-block;
}

